{% extends "base.html" %}

{% block content %}

    <br>
    <br>
    <br>
    <h1 style="text-align:center">x</h1>
    {% for agreement in agreements %}

            
        {% if agreement.public == True %}


            <div>
                <p><b>{{ agreement.title[:200]}}</b></p>
                <p>{{ agreement.date}}</p>
                <p>{{ agreement.action_if_not_fulfilled[:200]}}</p>
                <p>{{ agreement.action_if_fulfilled[:200]}}</p>
                <p>{{ agreement.title}}</p>
                <br>
                <br>
            </div>

        {% endif %}

    {% endfor %}
    <br>
    <br>

{% endblock %}
